<mat-toolbar class="fixed top-0 h-12 w-screen bg-gray-300 py-3 z-[10] drop-shadow-xl">
  <div class="flex flex-row items-center justify-between container mx-auto">

    <!-- LEFT SIDE -->
    <div>
      <!-- TODO -- find a better title -->
      <a routerLink="/">Midsommar</a>
    </div>

    <!-- CENTERED -->
    <div></div>

    <!-- RIGHT SIDE -->
    <div class="fric-2">

      <a routerLink="/gallery" *ngIf="auth.isAuthed" mat-icon-button>
        <mat-icon fontIcon="image"></mat-icon>
      </a>
      <a routerLink="/info" *ngIf="auth.isAuthed" mat-icon-button>
        <mat-icon fontIcon="info"></mat-icon>
      </a>


      <button *ngIf="auth.isAdmin" mat-icon-button [matMenuTriggerFor]="adminMenu" aria-label="Admin menu">
        <mat-icon>verified_user</mat-icon>
      </button>
      <mat-menu #adminMenu="matMenu">
        <a routerLink="/admin/guests" mat-menu-item>
          <mat-icon>groups</mat-icon>
          <span>Attending</span>
        </a>
        <a routerLink="/admin/emails" mat-menu-item>
          <mat-icon>email</mat-icon>
          <span>Send Emails</span>
        </a>
      </mat-menu>


      <button *ngIf="auth.isAuthed" mat-icon-button aria-label="sign-out button" (click)="signOut()">
        <mat-icon fontIcon="logout"></mat-icon>
      </button>
    </div>

  </div>
</mat-toolbar>

<nav class="top-0 h-12 w-screen mb-6">
  <!-- placeholder for the header, so the content inside starts at the right place -->
</nav>
