<ng-container *ngIf="(stats$ | async) as stats; else loadingStats">
  <mat-accordion>
    <mat-expansion-panel matRipple>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Who's {{comingOrInterested(['interested, so far', "confirmed participation"])}}?
          <small class="ml-auto text-gray-400">({{stats.attending}})</small>
        </mat-panel-title>
      </mat-expansion-panel-header>
      @if (stats.people?.length) {
      <ul>
        <ng-container *ngFor="let p of stats.people">
          <li class="cursor-help fric-2">
            <!-- <li [matTooltip]="timeInWords(p)"> -->
            <span>{{p.name}}</span>
            <small *ngIf="p.uid === auth.userId" matTooltip="that's you 🫵">(me)</small>
            <app-guest-info [info]="p"></app-guest-info>
          </li>
        </ng-container>
      </ul>
      }
      @else {
      <span>Nobody signed up (...yet?)</span>
      }
    </mat-expansion-panel>
  </mat-accordion>
</ng-container>
<ng-template #loadingStats>
  <mat-progress-bar class="basis-1/2" mode="indeterminate"></mat-progress-bar>
</ng-template>
