<ng-template #tmp>
  <td [class.invisible]="!hostIds.includes(info.uid)" matTooltip="i'm one of the hosts 🏡">💁‍♀️</td>
  <td [class.invisible]="!info.hasCar" matTooltip="i come by car">🚙</td>
  <td [class.invisible]="!info.hasTent" matTooltip="i could bring a tent">⛺️</td>
  <td [class.invisible]="!info.sleepsInTent" matTooltip="i could sleep in a tent">🏕️</td>

  <td [class.invisible]="!info.arriving" matTooltip="arrives today">🛬</td>
  <td [class.invisible]="!info.departing" matTooltip="leaves today">🛫</td>

  <ng-container *ngIf="auth.isAdmin">

    <td class="fric inline-block" *ngIf="showContactDetails">
      <a role="button" class="text-sm !cursor-pointer" [href]="'tel:' + info.phone"
        (click)="confirm(info.name, 'phone', $event)">📞</a>
      <a role="button" class="text-sm !cursor-pointer" [href]="'mailto:' + info.email"
        (click)="confirm(info.name, 'email', $event)">📧</a>
    </td>

    <ng-container *ngIf="showAllergies && info.problematicFoods.length">
      <td>
        (<ng-container *ngFor="let food of info.problematicFoods">
          <ng-container *ngTemplateOutlet="foodTemplate; context: { $implicit: food }"></ng-container>
        </ng-container>

        <ng-template #foodTemplate let-food>
          <span [matTooltip]="fs.foodDetail(food).label">{{ fs.foodDetail(food).icon }}</span>
        </ng-template>)
      </td>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="showTaskHelp && info.taskHelp.length">
    <td>
      (<ng-container *ngFor="let task of info.taskHelp">
        <ng-container *ngTemplateOutlet="taskTemplate; context: { $implicit: task }"></ng-container>
      </ng-container>

      <ng-template #taskTemplate let-task>
        <span [matTooltip]="fs.helpDetail(task).label">{{ fs.helpDetail(task).icon }}</span>
      </ng-template>)
    </td>
  </ng-container>

</ng-template>
