<div class="flex flex-col gap-y-1 border rounded-lg p-2 text-sm bg-white">
  <span>Where's everyone helping?</span>
  <div class="flex flex-row justify-between" matTooltipPosition="above" matTooltip="How many people signed up for a task, compared with how many is ideal">
    <ng-container *ngFor="let item of quotas | keyvalue">
      <span [matTooltip]="fs.helpDetail(item.key).label"
        [ngStyle]="{ color: fs.helpQuotas(item.key, numGuests, item.value).color}">
        {{ fs.helpDetail(item.key).icon }}
        {{fs.helpQuotas(item.key, numGuests, item.value).val}}
      </span>
    </ng-container>
  </div>

</div>
