@use "@angular/material" as mat;
@import "@angular/material/prebuilt-themes/cyan-orange.css";
// @import "@angular/material/prebuilt-themes/rose-red.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

$theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette
    )
  )
);

html,
body {
  @include mat.all-component-themes($theme);
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  font-size: 20px;
}

@layer utilities {
  input[type="date"]::-webkit-inner-spin-button,
  input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }
}

.highlighted-date {
  background-color: orange !important;
  border-radius: 100%;
}

@layer components {
  .text-secondary {
    @apply opacity-30;
  }
  .center-page {
    @apply grid place-items-center place-content-center h-screen w-screen;
  }
  .fric {
    @apply flex flex-row items-center;
  }
  .fric-2 {
    @apply fric space-x-2 space-y-0;
  }
}

@include mat.core();
@include mat.color-variants-backwards-compatibility($theme);
