@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

@layer utilities {

}

@layer components {
  .text-secondary {
    @apply opacity-30;
  }
  .center-page {
    @apply grid place-items-center place-content-center h-screen w-screen;
  }
}
