<div class="flex flex-col space-y-8">

  <div class="flex flex-col space-y-6 mx-auto max-w-screen-md">
    <p>
      As you know, we would love to spend together a wonderful <a href="https://en.wikipedia.org/wiki/Midsummer" class="link"
        target="_blank" rel="noreferrer">Midsommar</a> in 2025
    </p>
    <p>{{comingOrInterested(["And yes, it's a bit early for that!", ""])}}</p>
    <p>This website is a way to track who's {{comingOrInterested(["interested", "coming"])}} and update you on the progress.</p>
  </div>


  <div class="flex flex-col space-y-2 lg:fric-2">
    <div *ngIf="fs.userHasRegistered; else notRegistered" class="flex flex-col items-center space-y-2 basis-1/2">
      <app-attending-button classes="w-64 h-64" [checked]="fs.userIsComing"
        (change)="changeAttendance($event)"></app-attending-button>
      <button mat-button (click)="fs.openAttendeeModalForm()" class="inline-block w-24">EDIT</button>
    </div>
    <ng-template #notRegistered>
      <mat-card class="flex space-x-4 items-baseline basis-1/2">
        <mat-card-header>
          <mat-card-title>Register first</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <small>Register your attendance so we know who's {{comingOrInterested(["interested", "coming"])}}.<br />You
            can always change this later {{comingOrInterested(["(and it's not definitive. we are just checking what the interest is.)", ""])}}</small>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="fs.openAttendeeModalForm()" class="inline-block w-24">REGISTER</button>
        </mat-card-actions>
      </mat-card>
    </ng-template>
    <app-guests [stats$]="ss.stats$" class="basis-1/2"></app-guests>
  </div>

</div>
