<div class="flex flex-col container mx-auto">
  <h1 class="text-6xl">Welcome!</h1>
  <p>
    As you know, we would love to spend together a wonderful <a href="https://en.wikipedia.org/wiki/Midsummer"
      target="_blank" rel="noreferrer">Midsommar</a> in 2025
  </p>
  <p>
    Yes, it's a bit early for that! This website is a way to track who's coming and update you on the progress.
  </p>
</div>


<div class="container mx-auto">
  <ng-container *ngIf="(ss.stats$ | async) as stats">
    <h3 class="text-lg">Attendees ({{stats.attending}})</h3>
    <ul>
      <ng-container *ngFor="let p of stats.people">
        <li>
          {{p.name}}
          <button mat-raised-button (click)="openAtendeeForm()" *ngIf="p.uid === auth.userId">EDIT</button>
        </li>
      </ng-container>
    </ul>
  </ng-container>
</div>
